@tailwind base;
@tailwind components;
@tailwind utilities;


/* Georgia Font Family */
@font-face {
  font-family: 'Georgia';
  src: url('/georgia/georgia.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('/georgia/georgiab.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('/georgia/georgiai.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url('/georgia/georgiaz.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Helvetica Font Family */
@font-face {
  font-family: 'Helvetica';
  src: url('/helvetica/Helvetica.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/helvetica/Helvetica-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/helvetica/Helvetica-Oblique.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/helvetica/Helvetica-BoldOblique.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/helvetica/helvetica-light-587ebe5a59211.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/helvetica/helvetica-compressed-5871d14b6903a.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/helvetica/helvetica-rounded-bold-5871d05ead8de.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}